<div class="col-md-6 offset-md-3">
  <ng-container *ngIf='isLoading else loginForm'>
    <h2>{{'common.login' | translate}}</h2>
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </ng-container>
  <ng-template #loginForm>
    <h2>{{'common.login' | translate}}</h2>
    <div class="row">
      <!-- Credentials login -->
      <div class="col-md-8">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group">
            <label for="email">{{'common.email' | translate}}</label>
            <input type="email" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !email.valid }" name="email" [(ngModel)]="model.email"
              #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">{{'login.email_is_required' | translate}}</div>
          </div>
          <div class="form-group">
            <label for="password">{{'common.password' | translate}}</label>
            <input type="password" class="form-control" [ngClass]="{ 'is-invalid': f.submitted && !password.valid }" name="password"
              [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">{{'login.password_is_required' | translate}}</div>
          </div>
          <div class="form-group">
            <button [disabled]="loggingIn" class="btn btn-primary">{{'common.login' | translate}}</button>
            <i *ngIf="loggingIn" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
            <a [routerLink]="['/signup']" class="btn btn-link">{{'common.sign_up' | translate}}</a>
          </div>
        </form>
      </div>
      <!-- OAuth buttons -->
      <div class="col-md-4">
        <div>
          <button class="btn btn-social btn-google" (click)='loginWithGooglePopup()'>
            <span class="fa fa-google"></span> Login with Google Popup
          </button>
        </div>

        <div class="mt-2">
          <button class="btn btn-social btn-google" (click)='loginWithGoogleRedirect()'>
            <span class="fa fa-google"></span> Login with Google Redirect
          </button>
        </div>

        <div class="mt-4">
          <button class="btn btn-social btn-facebook" (click)='loginWithFacebookPopup()'>
            <span class="fa fa-facebook"></span> Login with Facebook Popup
          </button>
        </div>

        <div class="mt-2">
          <button class="btn btn-social btn-facebook" (click)='loginWithFacebookRedirect()'>
            <span class="fa fa-facebook"></span> Login with Facebook Redirect
          </button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
