<div class="col-md-6 offset-md-3">
    <h2 class="mb-4">{{'common.sign_up' | translate}}</h2>
    <form name="form" (ngSubmit)="f.form.valid && signup()" #f="ngForm" novalidate>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="firstName">{{'common.first_name' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !firstName.valid }" class="form-control" name="firstName" [(ngModel)]="model.firstName"
            #firstName="ngModel" required />
          <div *ngIf="f.submitted && !firstName.valid" class="help-block text-danger">{{'sign_up.first_name_is_required' | translate}}</div>
        </div>
        <div class="form-group col-md-6">
          <label for="lastName">{{'common.last_name' | translate}}</label>
          <input type="text" [ngClass]="{ 'is-invalid': f.submitted && !lastName.valid }" class="form-control" name="lastName" [(ngModel)]="model.lastName"
            #lastName="ngModel" required />
          <div *ngIf="f.submitted && !lastName.valid" class="help-block text-danger">{{'sign_up.last_name_is_required' | translate}}</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">{{'common.email' | translate}}</label>
        <input type="text" [ngClass]="{ 'is-invalid': f.submitted && (!email.valid || validationErrors.email) }" class="form-control"
          name="email" [(ngModel)]="model.email" #email="ngModel" required email />
        <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">{{'sign_up.a_valid_email_is_required' | translate}}</div>
        <div *ngIf="validationErrors.email">
          <div *ngFor="let error of validationErrors.email" class="help-block text-danger">{{'common.email' | translate}} {{error}}</div>
          <!-- TODO: translate the error message comes from the server -->
        </div>
      </div>
      <div class="form-group">
        <label for="password">{{'common.password' | translate}}</label>
        <input type="password" [ngClass]="{ 'is-invalid': f.submitted && (!password.valid || validationErrors.password) }" class="form-control"
          name="password" [(ngModel)]="model.password" #password="ngModel" required minlength="6" />
        <div *ngIf="f.submitted && password.errors?.required" class="help-block text-danger">{{'sign_up.password_is_required' | translate}}</div>
        <div *ngIf="f.submitted && !password.errors?.required && password.errors?.minlength" class="help-block text-danger">{{ 'sign_up.password_should_be_at_least_x_characters' | translate:{'characters':password.errors.minlength.requiredLength}
          }}</div>
        <div *ngIf="validationErrors.password">
          <div *ngFor="let error of validationErrors.password" class="help-block text-danger">{{'common.password' | translate}} {{error}}</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">{{'common.sign_up' | translate}}</button>
        <i *ngIf="loading" class="fa fa-spinner fa-spin fa-2x align-middle"></i>
      </div>
    </form>
</div>
